body {
  width: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.stillness{
  z-index: 10;
  position: fixed;
  margin: 25px 25px 0px 25px;
  padding: 0;
  color: white;
}

.icon{
  max-width: 30px;
}
.onethird{
  width: 25%;
  padding: 0;
}
img{
width:100%;
}
