@import url(https://fonts.googleapis.com/css?family=Lobster)
*
  border: 0px solid red

body
  background-color: black

h2
  text-align: center
  color: white

p
  color: white

footer
  position: fixed
  bottom: 1em
  left: 1em
  width: 100%

  .icon
    max-width: 25px
    border: 1px solid red

  button
    float: right
    margin: 10px 20px
    padding: 1px 1px


.quote
  text-align: center
  p
    font-family: Lobster
    font-size: 1.2em
    color: white
  span
    font-size: 1.25em
    color: white
    float: right
    padding-right: 2em


.pubrow
  height: 255px
  white-space: nowrap
  overflow-x: auto
  border: 1px solid red
  img
    border: 2px solid #FFF8DC
    height: 250px
    width: auto
    opacity: .7
    &:hover
      opacity: 1

video
  z-index: 2

.bottomspacer
  min-height: 5em

.FCPX
  img
    width: 100%

.carousel
  padding: 1.5em
  min-height: 275px
  border: 0px solid yellow

.fixedheight
  min-height: 250px
